@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Chakra+Petch&family=Indie+Flower&family=Montserrat:wght@500&family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600&family=Roboto+Mono:wght@100&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
    font-family: 'Poppins';
}

html {
  font-family: 'Poppins';
}


body {
  background-color:#3f3f3f ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
